html {
    background-image: url(img/background.jpg);
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #91c8f7;
}

nav ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    margin: 0;

}

body {
    width: 80%;
    margin:0 auto;
    text-align: center;
}

main img {
    width: 1000px;
     margin:0 auto;
}