html {
    background-image: url(img/background.jpg);
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1000px;
    margin:0 auto;
    text-align: center;
}

header {
    text-align: center;
    background-color: #91c8f7;
}

.headerbutton {
    background-color: #1790fa;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    color: black;
    padding: 1px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.picture {
    max-width: 100%;
    height: auto;
}

.bikescontainer {
    background-color: #91c8f7;
    margin-bottom: 5px;
   }

nav ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    margin: 0;

}

#footertext {
    font-size: 30px;
    background-color: #91c8f7;
}

/*____________sliders_______________*/

#slider1 {
	width: 600px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#polosa1 {
	/*background: pink;*/
	width: 1800px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa1 img {
	float: left;
	
}

#polosa1::after {
	content: "";
	display: block;
	clear: both;
}

#leftbutton1 {
	background-color: #1790fa;
    border: 1px solid yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	
}

#slider2 {
	width: 600px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#polosa2 {
	background: pink;
	width: 1800px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa2 img {
	float: left;
	
}

#polosa2::after {
	content: "";
	display: block;
	clear: both;
}

#leftbutton2 {
	background-color: #1790fa;
    border: 1px solid yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#slider3 {
	width: 600px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#polosa3 {
	/*background: pink;*/
	width: 1800px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa3 img {
	float: left;
	
}

#polosa3::after {
	content: "";
	display: block;
	clear: both;
}

#leftbutton3 {
	background-color: #1790fa;
    border: 1px solid yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#slider4 {
	width: 600px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#polosa4 {
	/*background: pink;*/
	width: 1800px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa4 img {
	float: left;
	
}

#polosa4::after {
	content: "";
	display: block;
	clear: both;
}

#leftbutton4 {
	background-color: #1790fa;
    border: 1px solid yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#slider5 {
	width: 600px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#polosa5 {
	/*background: pink;*/
	width: 1800px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa5 img {
	float: left;
	
}

#polosa5::after {
	content: "";
	display: block;
	clear: both;
}

#leftbutton5 {
	background-color: #1790fa;
    border: 1px solid yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#slider6 {
	width: 600px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#polosa6 {
	/*background: pink;*/
	width: 1800px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa6 img {
	float: left;
	
}

#polosa6::after {
	content: "";
	display: block;
	clear: both;
}

#leftbutton6 {
	background-color: #1790fa;
    border: 1px solid yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#slider7 {
	width: 600px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#polosa7 {
	/*background: pink;*/
	width: 1800px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa7 img {
	float: left;
	
}

#polosa7::after {
	content: "";
	display: block;
	clear: both;
}

#leftbutton7 {
	background-color: #1790fa;
    border: 1px solid yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#slider8 {
	width: 600px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#polosa8 {
	/*background: pink;*/
	width: 1800px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa8 img {
	float: left;
	
}

#polosa8::after {
	content: "";
	display: block;
	clear: both;
}

#leftbutton8 {
	background-color: #1790fa;
    border: 1px solid yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#slider9 {
	width: 600px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#polosa9 {
	/*background: pink;*/
	width: 1800px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa9 img {
	float: left;
	
}

#polosa9::after {
	content: "";
	display: block;
	clear: both;
}

#leftbutton9 {
	background-color: #1790fa;
    border: 1px solid yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#slider10 {
	width: 600px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#polosa10 {
	/*background: pink;*/
	width: 1800px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa10 img {
	float: left;
	
}

#polosa10::after {
	content: "";
	display: block;
	clear: both;
}

#leftbutton10 {
	background-color: #1790fa;
    border: 1px solid yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*_______responsive_____________*/

@media screen and (max-width: 900px) {

body {
    max-width: 700px;
    margin:0 auto;
    text-align: center;
}

img {
    width: 400px;
    height: auto;
}

#slider1 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#slider2 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#slider3 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider4 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider5 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider6 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider7 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider8 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}
#slider9 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}
#slider10 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}
}

@media screen and (max-width: 600px) {

body {
    max-width: 500px;
    margin:0 auto;
    text-align: center;
}

img {
    width: 400px;
    height: auto;
}

#slider1 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider2 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider3 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider4 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider5 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider6 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider7 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#slider8 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}
#slider9 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}
#slider10 {
	width: 400px;
	height: auto;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}
}

@media screen and (max-width: 400px) {

body {
    max-width: 300px;
    margin:0 auto;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}

#slider1 {
	width: 300px;
	height: auto;
	border: 3px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#slider2 {
	width: 300px;
	height: auto;
	border: 3px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#slider3 {
	width: 300px;
	height: auto;
	border: 3px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#slider4 {
	width: 300px;
	height: auto;
	border: 3px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#slider5 {
	width: 300px;
	height: auto;
	border: 3px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#slider6 {
	width: 300px;
	height: auto;
	border: 3px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#slider7 {
	width: 300px;
	height: auto;
	border: 3px solid black;
	margin: 10px auto;
	overflow: hidden;
}

#slider8 {
	width: 300px;
	height: auto;
	border: 3px solid black;
	margin: 10px auto;
	overflow: hidden;
}
#slider9 {
	width: 300px;
	height: auto;
	border: 3px solid black;
	margin: 10px auto;
	overflow: hidden;
}
#slider10 {
	width: 300px;
	height: auto;
	border: 3px solid black;
	margin: 10px auto;
	overflow: hidden;
}
    
}