html {
    background-image: url(img/background.jpg);
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 900px;
    margin:0 auto;
    text-align: center;
}

header {
    text-align: center;
    background-color: #91c8f7;
}

.picture {
    width: 900px;
    height: auto;
}

.bikescontainer {
    background-color: #91c8f7;
    margin-bottom: 5px;
   }

main {
    float: left;
}
#sidebar {
    float: left;
    background-color: black;
    width: auto;
}