html {
    background-image: url(img/background.jpg);
    background-attachment: fixed;
}

.headerbutton {
    background-color: #1790fa;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    color: black;
    padding: 1px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
    max-width: 650px;
    margin:0 auto;
    text-align: center;
    background-color: #91c8f7;
}

h1 {
    color: red;
}

.videos {
    max-width: 100%;
}

@media screen and (max-width: 600px) {
body {
    width: 450px;
    height: auto;
}    
    
iframe {
        width: 400px;
        height: 300px;
    }
}

@media screen and (max-width: 300px) {
body {
    width: 250px;
    height: auto;
}    
    
iframe {
        width: 250px;
        height: 200px;
    }
}